body{
  font-family: monospace;

}

h1{
  text-align: center;

}

.tata{
  text-align: center;
}

.rj{
  text-align: center;
}

.hover{
  text-align: center;
  font-size: 10px
}



.parka{
  text-align: center;
  font-size: 20px
}
.mang{
  text-align: center;
}

.first{
  text-align: center;
}

.second{
  text-align: center;
}

.third{
  text-align: center;
}

.fourth{
  text-align: center;
}

.fifth{
  text-align: center;

}

.powers{
  text-align: center;
  font-size: 20px
}

.dance{
  text-align: center;
  font-size: 20px
}

.fun{
  text-align: center;
  font-size: 20px
}

.chim{
  text-align: center;
}

.ears{
  text-align: center;
  font-size: 20px
}

.shooky{
  text-align: center;
  font-size: 20px
}

.cooky{
  text-align: center;
  font-size: 20px
}

.cookie{
  text-align: center;
}

.rabbit{
  text-align: center;
  
}
body {
  background-color: ;
}
